html, body {
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: 'Pixelify Sans', sans-serif;
}

.background {
  position: fixed;
  top: 0;          
  left: 0;         
  width: 1920px;   
  height: 1080px;  
  background: url(../Assets/bg2.png) no-repeat top left;
  background-size: 80% 80%; 
  z-index: 0;
}

.icons {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 10; 
}

.icon {
  position: absolute;       
  cursor: pointer;
  transition: all 0.3s ease;
}

.icon img {
  width: 100px;
  height: auto;
}

#icon1 img { width: 350px; } /*things icon */
#icon2 img { width: 420px; }  /*open when icon*/
#icon3 img { width: 640px; } /*mini game icon */
#icon4 img { width: 300px; }  /*letter icon*/

.icon:hover {
  filter:
    drop-shadow(0 0 8px rgba(255,255,255,1))
    drop-shadow(0 0 16px rgba(255,255,255,0.9));
  transform: scale(1.1);
}

.icon:active {
  filter:
    drop-shadow(0 0 10px rgba(255,255,255,1))
    drop-shadow(0 0 20px rgba(255,255,255,0.95));
  transform: scale(0.95);
}

#icon1 { top: 70px; left: -30px; }
#icon2 { top: 480px; left: 200px; }
#icon3 { top: 180px; left: 700px; }
#icon4 { top: 320px; left: 1200px; }

.tooltip {
  position: absolute;
  bottom: 95%;          
  left: 58%;
  transform: translateX(-50%);
  
  background: rgba(255, 10, 84, 0.75);
  color: white;
  padding: 6px 10px;
  border-radius: 6px;

  font-size: 20px;
  white-space: nowrap;

  opacity: 0;
  pointer-events: none;

  transition: opacity 0.2s ease, transform 0.2s ease;
}

.icon:hover .tooltip {
  opacity: 1;
  transform: translateX(-50%) translateY(-4px);
}

/* ===== Modal ===== */
.modal {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.25s ease;
  z-index: 100;
}

.modal.show {
  opacity: 1;
  pointer-events: auto;
}

/* ===== Popup Image ===== */
.modal-content img {
  max-width: 105vw;   /* 🔥 CHANGE SIZE HERE */
  max-height: 105vh;  /* 🔥 CHANGE SIZE HERE */
  object-fit: contain;
  transform: scale(0.95);
  transition: transform 0.25s ease;
}

.modal.show img {
  transform: scale(1);
}

body, img, .icon, .modal-content {
  user-select: none;       /* Standard */
  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none;    /* Firefox */
  -ms-user-select: none;     /* IE/Edge */
}