*{
    margin:0;
    padding: 0%;
    box-sizing: border-box;
}
body{
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url(../Assets/bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Pixelify Sans', sans-serif;
}
.gif{
    width:50%;
    height: 80%;
    margin-bottom: 0;
}
.container{
    --main-color: #ffffff;
    background-color: rgba(162, 159, 240, 0.7); 
    padding: 20px;
    margin: 0.8in;
    border-radius: 10.4px;
    border: 5px solid var(--main-color);
    box-shadow: 0 0 2px 4px #6b6998;
}
h1{
    text-align: center;
    font-size: 2.5em;
    letter-spacing: 1px;
    margin-bottom: 4px;
}
img{
    pointer-events: none;
    height: auto;
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto 
}
.buttons{
    width:100%;
    height:100%;
    display: flex;
    justify-content: center;
    margin-top: 4px;
}
button {
    background: #FFE560;
    font-family: 'Pixelify Sans', sans-serif;;
    padding: 10px;
    font-weight: 900;
    font-size: 18px;
    border: 3px solid black;
    border-radius: 0.4em;
    box-shadow: 0.1em 0.1em;
    cursor: pointer;
}
#yes, #no{ 
    margin-left:25px;
    margin-right:25px;
}
button#yes:hover, button#no:hover {
    background-color:#FFC0DC;
    transform: translate(-0.20em, -0.20em);
    box-shadow: 0.15em 0.15em;
    transition: 0.2s;
  }
  
button#yes:active {
    transform: translate(0.05em, 0.05em);
    box-shadow: 0.05em 0.05em;
  }

